<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/mostly-revit-blog/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<!-- don't have or need these yet
	        		<li><a href="/mostly-revit-blog">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/cv">CV</a></li>
					-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				</ul>
			</footer>
		</body>
	</html>