<!DOCTYPE html>
	<html>
		<head>
		    <meta name="viewport" content="width=device-width">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% feed_meta %}
		</head>
		<body>
			<header>
				<span id="maintitlelink"><a href="/">{{ site.title }}</a></span>
				<span id="byline">by Eric Stimmel</span>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				</ul>
			</footer>
		</body>
	</html>